* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.background {
    height: 100vh;
    width: 100vw;
    background: url('asstes/images/78812fd262025d24e53452a1307bbb6d.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
    height: 100px;
    width: 130px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}
#background-wrap {
    padding-top: 50px;
    width:100%;
    position: fixed;
    z-index: -1;
}
.pipe_sprite {
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 25vw;
    position: fixed;
    width: 270px;
    /*position: fixed;*/
    /*top: 40vh;*/
    /*left: 100vw;*/
    /*height: 63vh;*/
    /*border-radius: initial;*/
    /*width: 7vw;*/
    /*background-image: url("asstes/images/bird-3.png");*/
    /*position: fixed;*/
    /*top: 40vh;*/
    /*left: 100vw;*/
    /*height: 63vh;*/
    /*border-radius: initial;*/
    /*width: 7vw;*/
    /*background:radial-gradient(#3c84ab 50%, #0b093e);*/
    /*border: 5px solid black;*/
}
.message {
    position: absolute;
    z-index: 10;
    color: black;
    top: 30%;
    left: 50%;
    font-size: 4em;
    transform: translate(-50%, -50%);
    text-align: center;
}
.messageStyle{
    background: #5e5d5d;
    color: #000000;
    padding: 30px;
    box-shadow: rgb(0, 0, 0) 0px 5px 8px;
    border-radius: 20%;
}
.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.score_val {
    color: gold;
    font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
        font-size: 50px;
        top: 50%;
        white-space: nowrap;
    }
    .score{
        font-size: 8vh;
    }
    .bird{
        width: 120px;
        height: 90px;
    }
    .pipe_sprite{
        width: 14vw;
    }
}